@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: "normal";
    src: local("roboto"),
        url("fonts/roboto.woff2") format("woff2"),
        url("fonts/roboto.woff") format("woff")
}

@font-face {
    font-family: "Roboto Bold";
    font-weight: 700;
    font-style: "normal";
    src: local("robotobold"),
        url("fonts/robotobold.woff2") format("woff2"),
        url("fonts/robotobold.woff") format("woff")
}

@font-face {
    font-family: "Roboto Medium";
    font-weight: 500;
    font-style: "normal";
    src: local("robotomedium"),
        url("fonts/robotomedium.woff2") format("woff2"),
        url("fonts/robotomedium.woff") format("woff")
}

:root {
    /*Кастомные свойства*/
    --basic-black: #000;
    --basic-white: #fff;
    --basic-grey: #EEEEEE;
    --darktext: #283136;
    --basic-greytext: #666;
    --btngrey: #E1E1E1;
    --basic-red: #FB565A;
    --basic-green: #00CA74;
    --basic-yellow: #EFC849;
    --hover-red: #E74246;
    --active-red: #D7373B;
    --btn-hover-green: #00BC6C;
    --btn-active-green: #00AA62;
    --btn-hover-yellow: #EAB534;
    --btn-active-yellow: #E5A722;
    --btn-hover-grey: #DFDFDF;
    --btn-active-grey: #D5D5D5;
    --basic-dark-grey: #4D4D4D;
    --background-grey: #C1C1C1;
    --footer-grey: ##444444;
    --white-active: rgba(255, 255, 255, 0.3);
    --shadow-grey: rgba(0, 1, 1, 0.1);
    --active-black-text: rgba(1, 1, 1, 0.3);
    --grey-border: #DBDBDB;
    --active-page-btn: rgba(0, 0, 0, 0.0001);
    --light-green: #00CA74;
    --filter-grey: #D7DCDF;
    --filter-darkgrey:  #ABABAB;
    --border-lightgrey: rgba(77, 77, 77, 0.12);
    --popup-shadow: rgba(0, 0, 0, 0.4);
    --popup-hover: #B4B9BB;
    --popup-text: rgba(68, 68, 68, 0.5);
}

/*общие*/
.page-body {
    min-width: 1240px;
    padding: 0;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    position: relative;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    background-color: var(--basic-red);
    color: var(--basic-white);
    border-radius: 3px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: var(--hover-red);
}

.btn:active {
    background-color: var(--active-red);
    color: var(--white-active);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.disp-none {
    display: none;
}

/* grid */
.page {
    height: 100%;
}

.page-navigation-wrapper {
    width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding-top: 47px;
}

.main-slider-wrapper {
    width: 1160px;
    margin: 0 auto;
    display: grid;
    position: relative;
}

.main-container-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.contacts-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 54px 0;
}

.headline-wrapper {
    width: 1160px;
    margin: 0 auto;
}

/*header*/
header {
    padding-bottom: 2px;
}

.page-header,
.main-slider {
    background-color: var(--basic-grey);
}

.page-navigation {
    line-height: 30px;
}

.page-logo {
    max-height: 65px;
}

.page-logo:hover {
    opacity: 0.7;
}

.site-navigation {
    align-items: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.site-navigation-item {
    margin-right: 45px;
    padding-top: 20px;
}

.page-navigation a {
    color: var(--basic-black);
    text-transform: uppercase;
    font-weight: 500;
}

.cart-link {
   padding-top: 30px;
   margin-left: 40px;
   position: relative;
}

.cart-link::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url('../img/basket-icon.svg');
    top: 37px;
    left: -40px;
}

.cart-link:hover::before {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* .cart-link img {
    margin-right: 25px;
}

.basket:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */

.site-navigation a:hover,
.cart-link:hover {
    color: var(--active-red);
}

.page-navigation a:active {
    opacity: 0.3;
    color: var(--basic-black);
}

/* Главная страница */

/*slider*/

.main-slider {
    margin-bottom: 80px;
}

.slider-btn {
    padding: 17px 56px 15px 54px;
    display: inline-block;
    line-height: 18px;
}

.slider-btn:hover,
.web-btn:hover,
.contacts-btn:hover,
.popup-btn:hover {
    background-color: var(--hover-red);
}

.slider-btn:active,
.web-btn:active,
.contacts-btn:active,
.popup-btn:active {
    background-color: var(--active-red);
    color: var(--white-active);
}

.slider-item p:nth-child(1) {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin: 0 0 25px 0;
    padding-top: 78px;
}

.slider-item p:nth-child(2) {
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 40px 0;
    color: var(--darktext);
}

.bg-phone {
    background: url("../img/slide-1.png") no-repeat 397px 0px;
    height: 430px;

}

.bg-pc {
    background: url("../img/slide-2.png") no-repeat 397px 0px;
    height: 430px;
}

.bg-tablet {
    background: url("../img/slide-3.png") no-repeat 397px 0px;
    height: 430px;
}

/* .slider-switcher {
    position: absolute;
    bottom: 97px;
    left: 50%;
    margin-left: -44px;
    display: flex;
    
} */

.slider-switcher {
    position: relative;
    left: -50%;
    display: flex;
}

.switcher-stab {
    position: absolute;
    bottom: 97px;
    left: 50%;
}

.switch-btn {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--basic-white);
    border: none;
    display: block;
    padding: 0;
    cursor: pointer;
}

.switch-btn:not(:last-child) {
    margin-right: 17px;
}

.selected-switch::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid var(--background-grey);
    border-radius: 50%;
    top: 5px;
    left: 5px;
}

/*services*/

.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    padding-right: 60px;
    margin-bottom: 39px;
    border-bottom: 2px solid var(--basic-grey);
    padding-bottom: 60px;
}

.services-web {
    background: url("../img/web.png");
    width: 300px;
    height: 146px;
}

.services-app {
    background: url("../img/app.png");
    width: 300px;
    height: 146px;
}

.services-presentation {
    background: url("../img/presentation.png");
    width: 300px;
    height: 146px;
}

.services-card {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

/* .services-card:last-child {
    margin-right: 60px;
} */

.services-card h3 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
}

.services-card p {
    color: var(--darktext);
    margin-bottom: 34px;
    margin-top: 0;
}

.web-btn,
.app-btn,
.presentation-btn {
    padding: 17px 41px 15px 39px;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.app-btn {
    background-color: var(--basic-green)
}

.app-btn:hover {
    background-color: var(--btn-hover-green)
}

.app-btn:active {
    background-color: var(--btn-active-green);
    color: var(--white-active);
}

.presentation-btn {
    background-color: var(--basic-yellow)
}

.presentation-btn:hover {
    background-color: var(--btn-hover-yellow)
}

.presentation-btn:active {
    background-color: var(--btn-active-yellow);
    color: var(--white-active);
}

/*about_info*/

.about_info {
    grid-column: 1/3;

}

.about_info-tagline {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    margin-top: 34px;
    margin-bottom: 35px;
}

.about_info p {
    color: var(--darktext);
}

.text-uppercase {
    text-transform: uppercase;
}

.about_info-list-head {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 40px;
}

/*Пытаюсь сделать маркеры списков как в макете*/
/*.about_info-item {
    background: url("../img/list-type.png") no-repeat left center;
    padding-left: 100px;
    list-style: none;
    margin: 0;
    vertical-align: middle;
}*/

.about_info-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.about_info-item {
    margin-bottom: 18px;
}

.about_info-list li:nth-child(2) {
    margin-bottom: 19px;
}

.about_info-item::before {
    /*Сделал маркеры!!!*/
    content: url("../img/list-type.png");
    vertical-align: 20%;
    padding-right: 11px;
}

/*statistics*/

.statistics {
    background: url("../img/nerds-color-logo.png") no-repeat;
}

.statistics-background {
    background: url("../img/nerds-color-logo.png") no-repeat;
    width: 360px;
    height: 208px;
    margin-bottom: 39px;
}

.statistics-list-head {
    font-weight: 700;
    padding-left: 17px;
    margin-bottom: 31px;
}

.statistics-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.statistics-list div:nth-child(1) {
    margin-right: 23px;
}

.statistics-list div:nth-child(2) {
    margin-right: 22px;
}


.statistics-list dt {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    margin-bottom: 12px;
}

.statistics-list sup {
    font-size: 26px;
    line-height: 40px;
}

.statistics-list dd {
    line-height: 18px;
    color: var(--darktext);
    margin: 0;
}

/* index-columns */

.index-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    margin-bottom: 56px;
}

/*partners(нужно сделать боковые рамки у изображений-ссылок)*/

.partners {
    border-bottom: 2px solid var(--basic-grey);
    border-top: 2px solid var(--basic-grey);
    padding: 46px 0 37px 0;
    margin-bottom: 80px;
}

.partners-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
}

.partners-item {
    display: block;
    align-self: center;
    position: relative;
    padding-left: 45px;
}

.partners-item:last-child {
    margin-left: 29px;
}

.partners-item:nth-child(3) {
    margin-left: 15px;
}

.partners-item:nth-child(1) {
    margin-left: -12px;
}

.partners-item:nth-child(2) {
    margin-left: -10px;
}

.partners-item:nth-child(1)::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: var(--basic-grey);
    top: 1px;
    right: 9px;
}

.partners-item:nth-child(2)::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: var(--basic-grey);
    top: 18px;
    right: -1px;
}

.partners-item:nth-child(3)::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: var(--basic-grey);
    top: -1px;
    right: -11px;
}




/* .partners-item:not(:last-child) {
    background-image: url("../img/list-border.png");
    background-position: right;
    background-repeat: no-repeat;
} */

/* .partners-item::after { 
    /*Пытаюсь сделать правильные рамки у элементов*/
    /* content: url("../img/list-border.png"); 
    content: "";
    width: 2px;
    height: 52px;
    color: black;
    position: absolute;
    top: 10px;
} */

.partners-item a:link {
    opacity: 0.2;
}


.partners-item a:hover {
    opacity: 1;
}

.partners-item a:active {
    opacity: 0.1;
}

/*contacs*/

.contacts {
    /* background: url("../img/map.png") no-repeat center; */
    margin-bottom: 66px;
    min-height: 416px;
    position: relative;
    z-index: 1;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.contacts-info {
    background-color: var(--basic-white);
    display: flex;
    flex-direction: column;
    padding: 47px 50px 50px 50px;
    width: 319px;
    height: 308px;
    margin-right: auto;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

.contacts-tagline {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 22px;
}

.contacts-address,
.contacts-tel {
    color: var(--basic-greytext);
    line-height: 18px;
    margin: 0;
}

.contacts-address {
    margin-bottom: 21px;
}

.contacts-btn {
    padding: 17px 44px 15px 43px;
    border: none;
    display: inline-block;
    margin-top: 35px;
}

/*footer*/

.footer-wrapper {
    width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    margin-bottom: 68px;
}



.social-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-bottom: 10px;
    margin-top: 0px;
}

.social-item {
    margin: 0;
    padding: 0;
}

.social-item a {
    background: var(--btngrey);
    border-radius: 50%;
}

.social-item a:hover {
    background: var( --hover-red);
}

.social-item a:active,
.social-item a:focus {
    background: var(--active-red);
    box-shadow: inset 0px 3px 0px var(--shadow-grey);
}

.social-item a:active svg,
.social-item a:focus svg {
    opacity: 0.3;
}

.social-item:nth-child(1) a {
    padding: 32px 27px 32px 26px;
    width: 26px;
    height: 15px;
    display: inline-block;
    margin-right: 11px;
}

.social-item:nth-child(2) a {
    padding: 30px 33px 27px 35px;
    display: inline-block;
    height: 22px;
    width: 12px;
    margin-right: 11px;
}

.social-item:nth-child(3) a {
    /*кривые паддинги*/
    padding: 29px;
    width: 21px;
    height: 21px;
    display: inline-block;
}

.action {
    grid-column: 2/4;
}

.action-tagline {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    margin-top: 7px;
}

.action-text {
    color: var(--footer-grey);
    line-height: 24px;
    margin: 0;
    margin-top: 10px;
}

/* Магазин */

.main-headline {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin: 0;
    padding: 78px 0 108px 0;
}

.headline-container {
    background-color: var(--basic-grey);
    text-align: center;
    margin-bottom: 55px;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 22px;
}

.act-page {
    /* border-bottom: 2px solid var(--basic-red);
    padding-bottom: 13px; */
    position: relative;
}
.act-page::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0px;
    bottom: -21px;
    background-color: var(--basic-red);
}

/* Фильтр */

.filter {
    border: none;
    padding: 0;
    margin: 0;
}

.filter-headline {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.price_field-headline {
    margin-bottom: 48px;
}

.price_field-input {
    background-color: var(--basic-grey);
    border-radius: 3px;
    width: 100%;
}

.range-controls {
    position: relative;
    height: 41px;
    width: 260px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 3px;
    background-color: var(--basic-grey);
    margin-bottom: 14px;
}

.range-controls .scale {
    height: 2px;
    background-color: var(--filter-grey);
}

.range-controls .bar {
    height: 2px;
    background-color: var(--light-green);
    width: 70%;
}

.range-controls .toggle {
    width: 4px;
    height: 4px;
    padding: 0;
    border: solid 8px var(--basic-white);
    background-color: var(--filter-darkgrey);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    position: absolute;
    top: 31px;
    left: 0;
    cursor: pointer;
}

.range-controls .toggle-max {
    left: 160px;
}

.range-controls .toggle-min {
    left: 18px;
}

/* .price_field-container {
    background-color: var(--basic-grey);
    border-radius: 3px;
    padding: 39px 18px;
    width: 100%;
    margin-bottom: 14px;
} */

.price-container {
    display: flex;
    width: 260px;
    flex-wrap: wrap;
    margin-bottom: 54px;
}
/* Нужно сделать стили для инпутов и тд */
.range-input {
    color: var(--darktext);
    background-color: var(--basic-grey);
    border: none;
    text-align: center;
    padding: 8px 8px;
    width: 80px;
    box-sizing: border-box;
    margin-left: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.range-label:last-of-type .range-input {
    margin-left: 12px;
}

.range-label:first-of-type {
   margin-right: 33px;
}

.grey-btn {
    color: var(--basic-black);
    background-color: var(--basic-grey);
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 3px;
    text-transform: uppercase;
}

.filter-btn {
    padding: 17px 89px 15px 88px;
    border: none;
}

.grey-btn:hover {
    background-color: var(--btn-hover-grey);
}

.grey-btn:active {
    background-color: var(--btn-active-grey);
    color: var(--active-black-text);
    box-shadow: inset 0px 3px 0px var(--shadow-grey);
}

.filter-grid {
    margin-bottom: 28px;
}

.filter-specials {
    margin-bottom: 35px;
}

.grid-headline, .specials-headline {
    margin-bottom: 16px;
}

.filter-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.filter-option {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    padding-left: 36px;
}

.filter-specials-option {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    padding-left: 36px;
}

.grid-label,
.specials-label {
    display: block;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.grid-input + label::before {
    content: "";
    position: absolute;
    left: -36px;
    top: 1px;
    width: 25px;
    height: 25px;
    border: 4px solid var(--basic-greytext);
    opacity: 0.4;
    border-radius: 50%;
    box-sizing: border-box;
}

.grid-input:checked + label::after {
    content: "";
    position: absolute;
    left: -28px;
    top: 9px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--basic-greytext);
    opacity: 0.4;
}

.specials-input:not(:checked) + label::before {
    content: "";
    position: absolute;
    left: -36px;
    top: 1px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    opacity: 0.4;
}

.specials-input:checked + label::after {
    content: "";
    position: absolute;
    left: -36px;
    top: 1px;
    width: 25px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    opacity: 0.4;
}

.grid-label:hover::before, 
.grid-input:checked + .grid-label:hover::after,
.specials-input:not(:checked) + label:hover::before,
.specials-input:checked + label:hover::after {
    opacity: 1;
}

.specials-input:focus + label::before,
.specials-input:focus + label::after {
    opacity: 1;
}

.grid-input:focus + .grid-label::before, 
.grid-input:focus + .grid-label::after {
    opacity: 1;
}

/* .grid-input {
    margin-bottom: 15px;
    margin-right: 5px;
} */

.specials-input {
    margin-bottom: 17px;
}

/* Сортировка */

.sorting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-bottom: 48px;
}

.sorting-headline {
    margin: 0;
}

.sorting-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
}

.sorting-list-item {
    /* text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3; */
    display: inline-block;
    width: auto;
    margin-right: 25px;
}

.sorting-link {
    color: var(--basic-black);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
    display: inline-block;
}

.sorting-list-item:nth-child(3) {
    margin-right: 42px;
}

.sorting-list-item:last-child {
    margin: 0;
}

.sorting-link:hover {
    opacity: 0.6;
}

.sorting-link:active,
.active-sorting-link{
    opacity: 1;
}

.sorting-link:focus {
    opacity: 1;
}

.arrows {
    padding: 0;
    padding-left: 7px;
}

.arrow-down {
    margin-right: 14px;
}

/* .arrow-down {
    background-image: url('../img/icon-down.svg');
} */

/* Товары */

.products-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 23px;
    margin-bottom: 50px;
    padding: 0;
}

.products-description{
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--basic-grey);
    color: var(--basic-greytext);
    line-height: 18px;
    text-align: center;
    padding: 27px 53px 44px 52px;
    position: absolute;
    bottom: 6px;
    width: 100%;
    
}

.products-item {
    position: relative;
    border-top: 40px solid var(--border-lightgrey);
    border-radius: 4px;
    
}

.products-item:hover {
    border-color: var(--basic-dark-grey);
}

.products-item::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--basic-white);
    left: 16px;
    top: -28px;
    box-shadow: 23px 0 var(--basic-white), 46px 0 var(--basic-white);
}

.products-item img {
    filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

/* .products-description {
    display: none;
}

.products-item:hover .products-description {
    display: block;
} */

.products-description {
    opacity: 0;
}

.products-item:hover .products-description {
    opacity: 1;
}

.products-description:focus-within {
    opacity: 1;
}

.products-description a {
    display: inline-block;
}

.products-description p {
    margin: 0;
    margin-bottom: 32px;
}

.description-headline a {
    color: var(--basic-black);
    text-transform: uppercase;
    margin: 0;
}

.description-headline a:hover {
    color: var(--basic-red);
}

.description-headline a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

/* Ссылка после посещения */
.description-headline {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

.products-btn {
    padding: 17px 72px 15px 72px;
    margin-bottom: 0px;
}

/* Переключатель страниц */

.page-switcher {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 48px;
    flex-wrap: wrap;
}

.page-item {
    margin-right: 11px;
    margin-bottom: 10px;
}

.page-btn {
    padding: 17px 20px 15px 20px;
    display: inline-block;
}

.page-btn:not(.active-page) {
    color: var(--basic-black);
    background-color: var(--basic-grey);
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 3px;
    text-transform: uppercase;
}

.page-btn:hover:not(.active-page) {
    background-color: var(--btn-hover-grey);
}

.page-btn:active:not(.active-page) {
    background-color: var(--btn-active-grey);
    color: var(--active-black-text);
    box-shadow: inset 0px 3px 0px var(--shadow-grey);
}

.active-page {
    border: 3px solid var(--grey-border);
    background-color: var(--active-page-btn);
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 14px 17px 12px 17px;
}

.next-btn {
    padding: 17px 77px 15px 78px;
}

/* Pop-up */
.popup-container {
    padding: 63px 99px 84px 100px;
    background-color: var(--basic-white);
    position: fixed;
    left: 50%;
    margin-left: -480px;
    bottom: 188px;
    box-shadow: 0px 20px 40px var(--popup-shadow);
    width: 960px;
    height: 590px;
    box-sizing: border-box;
    z-index: 2;
}

.popup-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.popup-tagline {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--basic-black);
    margin: 0;
    padding: 0;
    margin-bottom: 37px;
}

.popup-label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
    
}

.popup-input {
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: none;
    text-align: start;
    padding: 14px;
    width: 80px;
    border: 2px solid var(--filter-grey);
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    margin-top: 9px;
}

.popup-biginput {
    grid-column: 1/3;
    margin-top: 34px;
}

.popup-textarea {
    resize: none;
    min-height: 118px;
    
}

.popup-btn {
    padding: 17px 83px 14px 83px;
    border: none;
    margin-top: 43px;
    width: 260px;
}

.popup-input:hover {
    border-color: var(--popup-hover);
}

.popup-input:focus {
    color: var(--footer-grey);
    border-color: var(--basic-black);
}

.popup-input:invalid{
    color: var(--hover-red);
    border-color: var(--hover-red);
}

.popup-cross {
    position: relative;
}

.cross-form {
    position: absolute;
    right: -9px;
    top: 15px;
    width: 21px;
    height: 21px;
    background: url("../img/popup-cross.svg");
    opacity: 0.3;
    border: none;
    cursor: pointer;
}

/* .popup-cross::before {
    content: '';
    position: absolute;
    right: -9px;
    top: 15px;
    width: 21px;
    height: 21px;
    background: url("../img/popup-cross.svg");
    cursor: pointer;
    opacity: 0.3;
} */

.cross-form:hover {
    opacity: 1;
}

.cross-form:active {
    opacity: 0.1;
}

/*Анимация*/

@keyframes popup-show {
    from {
        transform: translateY(900px);
    }
    to {
        transform: translateY(0);
    }
}

.popup-show {
    animation-name: popup-show;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.17,.67,.42,.99);
}

@keyframes popup-close {
    to {
        transform: translateY(900px);
    }
    from {
        transform: translateY(0);
    }
}

.popup-close {
    animation-name: popup-close;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.17,.67,.42,.99);
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.popup-shake {
    animation-name: shake;
    animation-duration: 1s;
}

@keyframes slider-show {
    from {
        transform: translateX(2000px);
    }
    to {
        transform: translateY(0);
    }
}

.slider-show {
    animation-name: slider-show;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.17,.67,.42,.99);
}