@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: "normal";
    src: local("roboto"),
        url("fonts/roboto.woff2") format("woff2"),
        url("fonts/roboto.woff") format("woff")
}

@font-face {
    font-family: "Roboto Bold";
    font-weight: 700;
    font-style: "normal";
    src: local("robotobold"),
        url("fonts/robotobold.woff2") format("woff2"),
        url("fonts/robotobold.woff") format("woff")
}

@font-face {
    font-family: "Roboto Medium";
    font-weight: 500;
    font-style: "normal";
    src: local("robotomedium"),
        url("fonts/robotomedium.woff2") format("woff2"),
        url("fonts/robotomedium.woff") format("woff")
}

:root {
    /*Кастомные свойства*/
    --basic-black: #000;
    --basic-white: #fff;
    --basic-grey: #EEEEEE;
    --darktext: #283136;
    --basic-greytext: #666;
    --btngrey: #E1E1E1;
    --text-footerdark: #444444;
    --basic-red: #FB565A;
    --basic-green: #00CA74;
    --basic-yellow: #EFC849;
    --hover-red: #E74246;
    --active-red: #D7373B;
    --btn-hover-green: #00BC6C;
    --btn-active-green: #00AA62;
    --btn-hover-yellow: #EAB534;
    --btn-active-yellow: #E5A722;
    --btn-hover-grey: #DFDFDF;
    --btn-active-grey: #D5D5D5;
    --basic-dark-grey: #4D4D4D;
    --background-grey: #C1C1C1;
    --footer-grey: #444444;
    --white-active: rgba(255, 255, 255, 0.3)
}

/*общие*/
.page-body {
    min-width: 1420px;
    padding: 0;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    background-color: var(--basic-red);
    color: var(--basic-white);
    border-radius: 3px;
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*header*/
.page-header,
.main-slider {
    background-color: var(--basic-grey);
}

.page-navigation {
    line-height: 30px;
}

.page-logo:hover {
    opacity: 0.7;
}

.site-navigation {
    list-style-type: none;
}

.page-navigation a {
    color: var(--basic-black);
    text-transform: uppercase;
    font-weight: 500;
}

.site-navigation a:hover,
.cart-link:hover {
    color: var(--active-red);
}

.page-navigation a:active {
    opacity: 0.3;
    color: var(--basic-black);
}

/*slider*/

.slider-btn {
    padding: 16px 54px;
}

.slider-btn:hover,
.web-btn:hover,
.contacts-btn:hover,
.social-item a:hover {
    background-color: var(--hover-red);
}

.slider-btn:active,
.web-btn:active,
.contacts-btn:active,
.social-item a:active {
    background-color: var(--active-red);
    color: var(--white-active);
}

.slider-item p:nth-child(1) {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}

.slider-item p:nth-child(2) {
    line-height: 24px;
    color: var(--darktext);
}

/*services*/

.services-card {
    list-style-type: none;
}

.services-card h3 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
}

.services-card p {
    color: var(--darktext);
}

.web-btn,
.app-btn,
.presentation-btn {
    padding: 17px 40px 15px 39px;
}

.app-btn {
    background-color: var(--basic-green)
}

.app-btn:hover {
    background-color: var(--btn-hover-green)
}

.app-btn:active {
    background-color: var(--btn-active-green);
    color: var(--white-active);
}

.presentation-btn {
    background-color: var(--basic-yellow)
}

.presentation-btn:hover {
    background-color: var(--btn-hover-yellow)
}

.presentation-btn:active {
    background-color: var(--btn-active-yellow);
    color: var(--white-active);
}

/*about_info*/

.about_info-tagline {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.about_info p {
    color: var(--darktext);
}

.text-uppercase {
    text-transform: uppercase;
}

.about_info-list-head {
    font-weight: 700;
}

/*.about_info-list {
    list-style-image: url("../img/list-type.png");
}
    /*Пытаюсь сделать маркеры списков как в макете*/
/*.about_info-item {
    background: url("../img/list-type.png") no-repeat left center;
    padding-left: 100px;
    list-style: none;
    margin: 0;
    vertical-align: middle;
}*/

.about_info-list {
    list-style-type: none;
}

.about_info-item::before {
    content: url("../img/list-type.png");
}

/*statistics*/

.statistics-list-head {
    font-weight: 700;
}

.statistics-list dt {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
}

.statistics-list sup {
    font-size: 26px;
}

.statistics-list dd {
    line-height: 18px;
    color: var(--darktext);
    margin: 0;
}

/*partners(нужно сделать боковые рамки у изображений-ссылок)*/

.partners-list {
    list-style: none;
    border-bottom: 2px solid var(--basic-grey);
    border-top: 2px solid var(--basic-grey);
}

.partners-item a:link {
    opacity: 0.2;
}


.partners-item a:hover {
    opacity: 1;
}

.partners-item a:active {
    opacity: 0.1;
}

/*contacs*/

.contacts-tagline {
    font-size: 18px;
    line-height: 30px;
}

.contacts-address,
.contacts-tel {
    color: var(--basic-greytext);
    line-height: 18px;
}

.contacts-btn {
    padding: 17px 44px 15px 44px;
    border: none;
}

/*footer*/
.social-list {
    list-style-type: none;
}

.social-item {
    /*потом убрать*/
    padding: 30px;
}

.social-item a {
    background-color: var(--btngrey);
    border-radius: 60px;
}

.social-item a:active img {
    background-color: var(--active-red);
    opacity: 0.3;
}

.social-item:nth-child(1) a {
    padding: 33px 28px 33px 27px;
}

.social-item:nth-child(2) a {
    padding: 31px 34px 28px 35px;
}

.social-item:nth-child(3) a {
    /*кривые паддинги*/
    padding: 30px;
}

.action-tagline {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.action-text {
    color: var(--footer-grey);
    line-height: 24px;
}